
@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<!-- Content Header (Page header) -->
<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>Occasion Management</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a asp-area="admin" asp-controller="dashboard" asp-action="index">Home</a></li>
                    <li class="breadcrumb-item active">Occasion Management</li>
                </ol>
            </div>
        </div>
    </div><!-- /.container-fluid -->
</section>

<!-- Main content -->
<section class="content">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title">Occasions List</h3>
                    <div class="card-tools">
                        <form method="post" asp-area="admin" asp-controller="occasion" asp-action="searchByKeyword">
                            <div class="input-group input-group-sm" style="width: 200px;">
                                <input type="search" class="form-control float-right" placeholder="Enter letter(s).." value="@ViewBag.keyword" name="keyword">
                                <div class="input-group-append">
                                    <button type="submit" class="btn btn-default"><i class="fas fa-search"></i></button>
                                </div>
                            </div>
                        </form >
                    </div>
                </div>
                <div class="card-body">
                    <div class="row" style="margin-bottom: 0.5em;">
                        <div class="col-sm-6 col-md-6">
                            <div class="col-sm-3 col-md-3">Show</div>
                            <select name="pageSize" id="pageSize" onchange="changeSelect()" class="custom-select custom-select-sm form-control form-control-sm" style="width: 100px;">
                                @foreach (var ps in ViewBag.PageSize)
                                {
                                    <option value="@ps.Value" selected="@ps.Selected">@ps.Text</option>
                                }
                            </select>
                        </div>
                        <div class="col-sm-6 col-md-6" align="right">
                            <a class="btn btn-labeled btn-success" asp-area="admin" asp-controller="occasion" asp-action="create">
                                <span class="btn-label"><i class="fa fa-plus"></i></span>
                                Add New
                            </a>
                        </div>
                    </div>            
                    <div class="row">
                        <div class="col-sm-12">
                            <table id="" class="table table-bordered table-striped">
                                <thead>
                                    <tr>
                                        <th>ID</th>
                                        <th>Name</th>
                                        <th>Photo</th>
                                        <th>Description</th>
                                        <th>Start Month</th>
                                        <th>End Month</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var occasion in ViewBag.occasions)
                                    {
                                        <tr>
                                            <td>@occasion.Id</td>
                                            <td>@occasion.Name</td>
                                            <td>
                                                <img src="~/images/occasions/@occasion.Photo" width="100" height="100" />
                                            </td>
                                            <td>@occasion.Description</td>
                                            <td>@occasion.StartMonth</td>                                         
                                            <td>@occasion.EndMonth</td>
                                            <td>
                                                 <a class="btn btn-primary" asp-area="admin" asp-controller="occasion" asp-action="edit" asp-route-id="@occasion.Id">
                                                  <span class="btn-label"><i class="fa fa-edit"></i></span>
                                                  Edit</a>                                                       
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                                <tfoot>
                                    <tr>
                                        <th>ID</th>
                                        <th>Name</th>
                                        <th>Photo</th>
                                        <th>Description</th>
                                        <th>Start Month</th>
                                        <th>End Month</th>                                      
                                        <th>Action</th>
                                    </tr>
                                </tfoot>
                            </table>
                        </div>
                    </div>
                    <!-- /.details of photo -->
                    <div class="row">
                        <div class="col-sm-12 col-md-5">
                            <div class="dataTables_info" role="status" aria-live="polite">
                                Showing <b>@ViewBag.fromoccasion</b>
                                to <b>@ViewBag.tooccasion</b>
                                of <b>@ViewBag.occasioncount</b> occasions
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-7" align="right">
                            <div class="" id="">
                                <ul class="pagination">
                                    <li class="paginate_button page-item previous disabled" id="example2_previous">
                                        <a href="#" aria-controls="example2" data-dt-idx="0" tabindex="0" class="page-link">Previous</a>
                                    </li>
                                    @for (var i = 0; i < ViewBag.numofpage; i++)
                                    {
                                        <li class="paginate_button page-item">
                                            <a onclick="changePage(@(i + 1))" data-dt-idx="@(i+1)" tabindex="0" class="page-link" name="page">@(i+1)</a>
                                        </li>
                                    }
                                    <li class="paginate_button page-item next" id="example2_next">
                                        <a href="#" aria-controls="example2" data-dt-idx="7" tabindex="0" class="page-link">Next</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <!-- /.pages -->
                </div>
                <!-- /.card-body -->
            </div>
            <!-- /.card -->
        </div>
        <!-- /.col -->
    </div>
    <!-- /.row -->
</section>
<!-- /.content -->

<script type="text/javascript">

    function changePage(num) {
        let pageSize = $("#pageSize").val();
        window.location.href = "/admin/occasion/index?page=" + num + "&pageSize=" + pageSize;
    }

    function changeSelect() {
        let pageSize = $("#pageSize").val();
        window.location.href = "/admin/occasion/index?page=1&pageSize=" + pageSize;
    }

</script>
