
@{
    ViewData["Title"] = "Info";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model JavaFlorist.Models.Account

<div class="signup-box">
    <div class="col-sm-10">
        <h3>Account Info</h3> <br />
        <form method="get" asp-controller="account" asp-action="info" asp-route-id="@ViewBag.acc.Id">
            <div class="form-group">
                <div class="center-cropped" style="background-image: url('/images/user/@ViewBag.acc.Photo');
                     width: 100%;  height: 450px;  background-position: center top;  background-repeat: no-repeat;">
                </div>
            </div>
            <div class="form-group">
                <label for="customer_name">Name</label>
                <a class="form-control" name="Name">@ViewBag.acc.Name</a>
            </div>
            <div class="form-group">
                <label for="customer_username">Username</label>
                <a class="form-control" name="Username">@ViewBag.acc.Username</a>
            </div>
            <div class="form-group">
                <label for="customer_phone">Phone Number</label>
                <a class="form-control" name="Phone">@ViewBag.acc.Phone</a>
            </div>
            <div class="form-group">
                <label for="customer_phone">Email</label>
                <a class="form-control" name="Email">@ViewBag.acc.Email</a>
            </div>
            <div class="form-group">
                <label for="customer_phone">Address</label>
                <a class="form-control" name="Address">@ViewBag.acc.Address</a>
            </div>
            <div class="form-group">
                <div class="row">
                    <div class="col-md-6">
                        <a asp-controller="account" asp-action="editaccount" asp-route-id="@ViewBag.acc.Id">Edit Info</a>
                    </div>
                    <div class="col-md-6 text-right">
                        <a asp-controller="account" asp-action="changepassword" asp-route-id="@ViewBag.acc.Id">Change Password</a>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>


