@using System.Globalization
@{
    ViewData["Title"] = "OrderList";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>OrderList</h1>

@if (@ViewBag.cart != null)
{
    <div class="document-box">
        <div class="no-gutters checkout-box">
            <div class="cart-box" id="cart-page">
                <div class="row">
                    <div class="col-lg-9">
                        <div class="cart-list">
                            <div class="header-list">
                                <div class="header-item">Product</div>
                                <div class="header-item">Price</div>
                                <div class="header-item">Quantity</div>
                                <div class="header-item">Total</div>
                            </div>

                            @foreach (var i in @ViewBag.cart)
                            {
                                <div class="body-list" style="border:3px">
                                    <div class="body-item product-info">
                                        <div class="cart-product">
                                            <div class="p-image">
                                                <img src="~/images/bouquets/@i.Bouquet.Photo" alt="@i.Bouquet.Name" />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="body-item price" data-price="@i.Bouquet.Price">
                                        <span>$@i.Bouquet.Price</span>
                                    </div>
                                    <div class="body-item quantity">
                                        <input data-unit="packing_item" type="text" value="@i.Quantity" name="quantity" class="quantity-input">
                                        <input class="bouquetid" value="@i.Bouquet.Id" type="hidden">
                                    </div>
                                    <div class="body-item total">
                                        <span class="bouquet-total">@((i.Quantity * i.Bouquet.Price).ToString("C", CultureInfo.CurrentCulture))</span>
                                        <a class="btn" asp-controller="cart" asp-action="remove" asp-route-id="@i.Bouquet.Id" style="float:right"><img width="20" src="~/images/close.png"></a>
                                    </div>
                                </div>
                                <div class="seperate-line" style="height: 1px;"></div>
                            }
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="border-wrapp padding-0">
                            <div class="order-cart-header">
                                <p>My Cart</p>
                                <p class="total-item">@ViewBag.totalqty Product</p>
                            </div>
                            <div class="order-cart-content">
                                <div class="order-cart-content-item">
                                    <p>Provisional Sum</p>
                                    <p class="cart_total">@ViewBag.total.ToString("C", CultureInfo.CurrentCulture)</p>
                                </div>
                                <div class="order-cart-content-item">
                                </div>
                            </div>
                        </div>
                        <div class="btn-box">
                            <a class="btn btn-buy btn-confirm" asp-controller="cart" asp-action="checkout" title="CONFIRM CART">Continue</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}