@using System.Globalization
@model JavaFlorist.Models.Item
<div class="col-lg-3 col-xs-12">
    <div class="sidebar__inner" id="cart-summary">
        <div class="border-wrapp padding-0">
            <div class="order-cart-header hover-cursor" onClick="if($(this).find('.fa').hasClass('fa-angle-down')){$(this).find('.fa').removeClass('fa-angle-down').addClass('fa-angle-up');}else{$(this).find('.fa').removeClass('fa-angle-up').addClass('fa-angle-down');};$(this).next().toggle('fast');">
                <p>Product</p>
                <p class="total-item">1 Product <i class="fa fa-angle-down"></i></p>
            </div>
            <div class="order-cart-content ">
                @foreach (var i in ViewBag.cart)
                {
                    <div class="order-cart-content-item">
                        <p style="width: 25%; flex: 0 0 25%">
                            <img src="~/images/bouquets/@i.Bouquet.Photo" class="img-responsive" style="width:60px" alt="@i.Bouquet.Name" />
                        </p>
                        <p>
                            <a class="p-name" style="color: #333" href="" title="@i.Bouquet.Name">@i.Bouquet.Name</a><br>
                            <span>x @i.Quantity</span>
                        </p>
                        <p>@((@i.Quantity* @i.Bouquet.Price).ToString("C", CultureInfo.CurrentCulture))</p>
                    </div>
                }

            </div>
        </div>
        <div class="border-wrapp padding-0">
            <div class="order-cart-header">
                <p>Order summary</p>
            </div>
            <div class="order-cart-content">
                <div class="order-cart-content-item">
                    <p>Provisonal Sum</p>
                    <p>@ViewBag.total.ToString("C", CultureInfo.CurrentCulture)</p>
                </div>
                <div class="order-cart-content-item shipping_price" style="display:none">
                    <p>Ship</p>
                    <p>$5.00</p>
                </div>
                <hr>
                <div class="order-cart-content-item cart-all-total">
                    <p>Total</p>
                    <p>
                        <span class="hidden have_ship">@((ViewBag.total+5).ToString("C", CultureInfo.CurrentCulture))</span>
                        <span class="no_ship">@ViewBag.total.ToString("C", CultureInfo.CurrentCulture)</span>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
