
@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<!-- Content Header (Page header) -->
<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>Bouquets List</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a asp-area="admin" asp-controller="dashboard" asp-action="index">Home</a></li>
                    <li class="breadcrumb-item active">DataTables</li>
                </ol>
            </div>
        </div>
    </div><!-- /.container-fluid -->
</section>

<!-- Main content -->
<section class="content">
    <div class="row">
        <div class="col-12">         
            <div class="card">

                <!-- /.card-header -->
                <div class="card-body">
                    <div class="form-group">
                        <label for="exampleInputFile">Upload Bouquet Photo</label>
                        <form class="input-group" method="post" asp-area="admin" asp-controller="bouquet" asp-action="upload" enctype="multipart/form-data">
                            <div class="custom-file">
                                <input name="images" type="file" multiple="multiple" class="custom-file-input" id="exampleInputFile">
                                <label class="custom-file-label" for="exampleInputFile" align="left">Choose file</label>
                            </div>
                            <div class="input-group-append">
                                <input type="submit" class="input-group-text" value="Upload">
                            </div>
                        </form>
                        @ViewBag.noimageerror
                        @ViewBag.uploaded
                    </div>
                </div>
                <!-- /.upload bouquet photo -->
                <div class="card-header">
                    <h3 class="card-title">Bouquets List</h3>
                </div>
                <div class="card-body">
                    <table id="example1" class="table table-bordered table-striped">
                        <thead>
                            <tr>
                                <th>Id</th>
                                <th>Name</th>
                                <th>Photo</th>
                                <th>Description</th>
                                <th>Price</th>
                                <th>Occasion</th>
                                <th>Status</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var bouquet in ViewBag.bouquets)
                            {
                                <tr>
                                    <td>@bouquet.Id</td>
                                    <td>@bouquet.Name</td>
                                    <td>
                                        <img src="~/images/bouquets/@bouquet.Photo" width="60" height="60" />
                                    </td>
                                    <td>@bouquet.Description</td>
                                    <td>$@bouquet.Price</td>
                                    <td>X</td>
                                    <td>@bouquet.Status</td>
                                    <td>X</td>
                                </tr>
                            }

                        </tbody>
                        <tfoot>
                            <tr>
                                <th>Id</th>
                                <th>Name</th>
                                <th>Photo</th>
                                <th>Description</th>
                                <th>Price</th>
                                <th>Occasion</th>
                                <th>Status</th>
                                <th>Action</th>
                            </tr>
                        </tfoot>
                    </table>
                </div>
                <!-- /.card-body -->
            </div>
            <!-- /.card -->
        </div>
        <!-- /.col -->
    </div>
    <!-- /.row -->
</section>
<!-- /.content -->
