@using System.Globalization
@using System.Linq
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@*@await Component.InvokeAsync("OccBar")*@
<div class="group-product-wrapp">
    <div class="row products service-product">
        <div class="col-lg-12 col-lg-custom-12">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a asp-controller="home" asp-action="index">Home</a></li>
                <li class="breadcrumb-item active">Bouquets</li>
            </ol>
            <div class="row">
                @foreach (var b in ViewBag.bouquets)
                {
                    <div class="col-lg-3 col-xs-6 blur-box item-580" itemscope itemtype="https://schema.org/Product">
                        <div class="product-item">
                            <div class="product-img">
                                <a asp-controller="bouquet" asp-action="detail" asp-route-id="@b.Id">
                                    <img itemprop="image"
                                         src="~/images/bouquets/@b.Photo"
                                         alt="@b.Name" />
                                </a>
                            </div>
                            <meta itemprop="url" content="">
                            <div class="product-title">
                                <a href="" class="title-products"
                                   title="Dad & Son">
                                    <span itemprop="name">@b.Name</span>
                                </a>
                            </div>
                            <div class="product-price">
                                <b>@(((decimal)b.Price).ToString("C", CultureInfo.CurrentCulture))</b>
                            </div>
                            <div class="product-cart">
                                <div class="row">
                                    <div class="col-sm-6 text-left">
                                        <img class="btn" src="~/images/shopping-cart.png" href="#" onClick="quickbuyout(@b.Id)" />
                                    </div>
                                    <div class="col-sm-6 text-right">
                                        <img class="btn" src="~/images/plus.png" href="#" onClick="quickaddcart(@b.Id)" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                }


                <div class="col-lg-12 col-xs-12 text-center mr-bottom-30">
                    @*<a class="btn-readmore"
                   href="">
                    View All
                </a>*@
                </div>
            </div>
        </div>
    </div>
</div>