@using System.Globalization
@using System.Linq
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
        <ol class="breadcrumb" style="margin-left:65px">
            <li class="breadcrumb-item"><a asp-controller="home" asp-action="index">Home</a></li>
        </ol>
        <div class="occasion-group">
            <div class="occasion-group-body">
                <div class="occasion-group-header"><span>Occasion</span></div>
                <div class="row occasion-group-button">
                    @foreach (var occasion in ViewBag.occs)
                    {
                        <a asp-controller="occasion" asp-action="detail" asp-route-id="@occasion.Id">@occasion.Name</a>
                    }
                </div>
            </div>
        </div>

        <div class="group-product-wrapp" style="margin-top:20px">
            <div class="row bouquets">

                <div class="row bouquet-list">
                    @foreach (var b in ViewBag.bouquets)
                    {
                        <div class="card" style="width: 14rem;">
                            <a asp-controller="bouquet" asp-action="detail" asp-route-id="@b.Id">
                                <img class="card-img-top" src="~/images/bouquets/@b.Photo" alt="@b.Name">
                            </a>

                            <div class="card-body">
                                <h5 class="card-title">@b.Name</h5>
                                <p class="card-text">@(b.Price.ToString("C", CultureInfo.CurrentCulture))</p>
                            </div>
                        </div>
                    }
                </div>

                <div id="loadingdiv" style="text-align:center;display:none;margin-bottom:20px;">
                    <img src="~/images/loading/loading.gif" />
                </div>
            </div>
        </div>