
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="top-detail-product">
    <div class="row">
        <div class="col-lg-5 text-center">
            <img src="~/images/bouquets/@ViewBag.bouquet.Photo" style=" max-height: 450px" />
        </div>
        <div class="col-lg-7">
            <h1 class="title" itemprop="name">@ViewBag.bouquet.Name</h1>
            <div class="product-feture">
                @ViewBag.bouquet.Description
            </div>
            <div class="product-info quantity">
                <p>Quantity</p>
                <p><input id="quantity" type="text" name="quantity"></p>
            </div>
            <hr>
            <p>Price at shop</p>
            <div class="price">$@ViewBag.bouquet.Price</div>

            <div class="btn-box">
                <input hidden value="@ViewBag.bouquet.Id" id="bouquetid" />
                @*<button class="hidden toggle-popupCart" type="button" data-toggle="modal" data-keyboard="false"
                data-target="#popupCart"></button>
        <button class="btn btn-buy" type="button" data-id="580" data-price="520000" data-unit="" data-quantity=""
                onclick="return add_cart(this, 2)">
            Buy Now
        </button>*@
                @*<a class="btn btn-buy" asp-controller="cart" asp-action="buy" asp-route-id="@ViewBag.bouquet.Id">Buy Now</a>*@
                <input type="button" value="Buy Now" id="buynow" />
                @*<button type="button" data-id="580" data-price="520000" data-unit="" data-quantity=""
                onclick="return add_cart(this, 1)" class="btn btn-add-to-cart" href="#">
            Add to Cart
        </button>*@
                <input type="button" value="Add Cart" id="addcart" />
            </div>
            <p>
                <small>Actual product images may differ from its illustration (bloom, accessories, etc)</small>
            </p>
            <hr>
            <div class="option-box">
                <ul>
                    <li>
                        <img width="40" src="~/images/delivery.png">
                        <span>

                            2-hour express delivery within 5km
                        </span>
                    </li>
                    <li>
                        <img width="40" src="~/images/present-box.png">
                        <span>
                            Free greeting card
                        </span>
                    </li>
                    <li>
                        <img width="40" src="~/images/eco-nature.png">
                        <span>
                            Guarantee fresh flowers in 3 days
                        </span>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="content-detail-product">
    <h1 class="title">@ViewBag.bouquet.Name</h1>
    <p>
        @ViewBag.bouquet.Description
    </p>
</div>
<div class="related-products group-product-wrapp">
    <h4>Similar products belong "<strong>Father 's Day</strong>"</h4>
    <div class="row products">
        <div class="col-lg-2 col-xs-6">
            <div class="product-item">
                <div class="product-img">
                    <a href="">
                        <img src="~/images/bouquet/ChuaChanTinhCam_Expressive.jpg" />
                    </a>
                </div>
                <div class="product-title">
                    <a href="">

                        Expressive
                    </a>
                </div>
                <div class="product-price">650.000đ</div>
            </div>
        </div>
        <div class="col-lg-2 col-xs-6">
            <div class="product-item">
                <div class="product-img">
                    <a href="">
                        <img src="~/images/bouquet/MotGiaDinh_AFamily.jpg" />
                    </a>
                </div>
                <div class="product-title"><a href="">A Family</a></div>
                <div class="product-price">720.000đ</div>
            </div>
        </div>
        <div class="col-lg-2 col-xs-6">
            <div class="product-item">
                <div class="product-img">
                    <a href="">
                        <img src="~/images/bouquet/TinhYeuMauXanh.jpg" />
                    </a>
                </div>
                <div class="product-title"><a href="">Green Love</a></div>
                <div class="product-price">600.000đ</div>
            </div>
        </div>
        <div class="col-lg-2 col-xs-6">
            <div class="product-item">
                <div class="product-img">
                    <a href="">
                        <img src="~/images/bouquet/VietVeCha_AboutMyDad.jpg" />
                    </a>
                </div>
                <div class="product-title">
                    <a href="">About My Dad</a>
                </div>
                <div class="product-price">450.000đ</div>
            </div>
        </div>
        <div class="col-lg-2 col-xs-6">
            <div class="product-item">
                <div class="product-img">
                    <a href="">
                        <img src="~/images/bouquet/Redkalanchoe.png" />
                    </a>
                </div>
                <div class="product-title"><a href="">Red Kalanchoe Pots</a></div>
                <div class="product-price">650.000đ</div>
            </div>
        </div>
    </div>
</div>

