@using System.Globalization
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="top-detail-product">
    <div class="bouquet-detail">
        <div class="row">
            <div class="col-lg-5 text-center">
                <img src="~/images/bouquets/@ViewBag.bouquet.Photo"/>
            </div>
            <div class="col-lg-7">
                <h1 class="title" itemprop="name">@ViewBag.bouquet.Name</h1>
                <div class="product-feture">
                    @ViewBag.bouquet.Description
                </div>

                <div class="seperate-line"></div>

                <div class="product-info quantity">
                    <p>Quantity</p>
                    <p><input id="quantity" type="text" name="quantity"></p>
                </div>
                <div class="product-info">
                    <p>Price at shop</p>
                    <p class="price">@ViewBag.bouquet.Price.ToString("C", CultureInfo.CurrentCulture)</p>
                </div>
                    <div class="seperate-line"></div>

                    <div class="btn-box">
                        <input hidden value="@ViewBag.bouquet.Id" id="bouquetid" />

                        <input class="btn btn-success" type="button" value="Buy Now" id="buynow" />

                        <input class="btn btn-info" type="button" value="Add Cart" id="addcart" />
                    </div>
                    <p>
                        <small>Actual product images may differ from its illustration (bloom, accessories, etc)</small>
                    </p>
                    <div class="services-guarante-bouquet">
                        <ul>
                            <li>
                                <a><i class="fa fa-money" aria-hidden="true"></i> Fair Price</a>
                            </li>
                            <li>
                                <a><i class="fa fa-truck" aria-hidden="true"></i> Delivery in 5 Hours</a>
                            </li>
                            <li>
                                <a><i class="fa fa-pagelines" aria-hidden="true"></i> Fresh Flowers in 3 Days</a>
                            </li>
                            <li>
                                <a><i class="fa fa-leaf" aria-hidden="true"></i> Environment Friendly</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
    </div>
</div>
<div class="content-detail-product">
    <h1 class="title">@ViewBag.bouquet.Name</h1>
    <p>
        @ViewBag.bouquet.Description
    </p>
</div>

<div class="seperate-line"></div>

<div class="related-products group-product-wrapp">
    <h4 style="align-content: center">RELATED FLOWERS @*"<strong>Father 's Day</strong>"*@</h4>
    <div class="row bouquet-list">
        @foreach (var b in ViewBag.randombouquets)
        {
            <div class="card" style="width: 12rem;">
                <a asp-controller="bouquet" asp-action="detail" asp-route-id="@b.Id">
                    <img class="card-img-top" src="~/images/bouquets/@b.Photo" alt="@b.Name">
                </a>

                <div class="card-body">
                    <h5 class="card-title">@b.Name</h5>
                    <p class="card-text">@(b.Price.ToString("C", CultureInfo.CurrentCulture))</p>
                </div>
            </div>
        }
    </div>
</div>

