@{
    ViewData["Title"] = "Checkout";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="content">
    <div class="content-box">
        <div class="container">
            <div class="row">

                <div class="col-md-12">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a asp-controller="home" asp-action="index">Home</a></li>
                        <li class="breadcrumb-item">Cart</li>
                        <li class="breadcrumb-item active">Checkout</li>
                    </ol>
                    <div class="document-box">
                        @*<form name="checkoutform" id="checkoutform" action="shop.dalathasfarm.com/shopcart/order.html" method="POST">*@
                            <div class="row" id="main-content">
                                <div class="col-lg-9 col-xs-12">
                                    <div class="sender-receiver-box">

                                        @await Component.InvokeAsync("Sender")

                                        <div class="border-wrapp">
                                            <div class="customer-address">
                                                <p class="title">Receive</p>
                                                <div class="kt-radio-list">
                                                    <label class="kt-radio kt-radio--success">
                                                        <input type="radio" name="receiver_type" value="store" checked><img width="20" src="~/images/store.svg">Receive at the store<span></span>
                                                    </label>
                                                    <label class="kt-radio kt-radio--success">
                                                        <input type="radio" name="receiver_type" value="receiver"><img width="20" src="~/images/home-1.svg">Delivery to<span></span>
                                                    </label>
                                                </div>

                                                <div class="receiver-delivery" id="blk-receiver" style="display:none">
                                                    <div class="row">
                                                        <div class="col-lg-12 col-xs-12">
                                                            <div class="kt-radio-list">
                                                                <label class="kt-radio kt-radio--success">
                                                                    <input type="radio" value="Mr. " name="gender" checked>Mr.<span></span>
                                                                </label>
                                                                <label class="kt-radio kt-radio--success">
                                                                    <input type="radio" value="Ms. " name="gender">Ms.<span></span>
                                                                </label>
                                                            </div>
                                                            <form id="get-receiver-info">
                                                                <div class="form-group">
                                                                    <label>Name</label>
                                                                    <input class="form-control" type="text" name="receiver_name" id="receiver_name" placeholder="Receiver Name">
                                                                </div>
                                                                <div class="form-group">
                                                                    <label>Phone Number</label>
                                                                    <input class="form-control" type="text" name="receiver_phone" id="receiver_phone" placeholder="Receiver Phone Number">
                                                                </div>
                                                                <div class="form-group">
                                                                    <label>Email</label>
                                                                    <input class="form-control" type="email" name="receiver_email" id="receiver_email" placeholder="Receiver Email">
                                                                </div>
                                                                <div class="form-group">
                                                                    <label>Address</label>
                                                                    <input class="form-control" type="text" name="receiver_address" id="receiver_address" placeholder="Receiver Address">
                                                                </div>
                                                            </form>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="receiver-delivery" id="blk-store">
                                                    <div class="row">
                                                        <div class="col-lg-12 col-xs-12">
                                                            <div class="form-group">
                                                                @*<p>Địa chỉ: <b>99 Đường Hậu Giang, Ward 5, District 6, Hồ Chí Minh</b></p>*@
                                                                <p class="mt-3">Open hour: <b>9:00 - 21:00 Saturday and Sunday, holiday</b></p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="clearfix">
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="border-wrapp">
                                        <div class="customer-address">
                                            <p class="title">Time of delivery</p>
                                            <div class="kt-radio-list">
                                                <label class="kt-radio kt-radio--success">
                                                    <input type="radio" name="time_type" value="ctime" checked><img width="20" src="~/images/choose-time.png">Choose time receiver<span></span>
                                                </label>
                                                <label class="kt-radio kt-radio--success">
                                                    <input type="radio" name="time_type" value="5hours"><img width="20" src="~/images/5hours.png">Delivery in 5 hours<span></span>
                                                </label>
                                            </div>

                                            <div class="time-delivery" id="blk-ctime">
                                                <div class="row">
                                                    <div class="col-lg-6">
                                                        <div class="row">
                                                            <div class="col-lg-6">
                                                                <div class="form-group">
                                                                    <input class="form-control" id="kt_datepicker_1" name="order_delivery_date" type="text" placeholder="Day">
                                                                </div>
                                                            </div>
                                                            <div class="col-lg-6">
                                                                <div class="form-group">
                                                                    <select class="form-control selectpicker" name="order_delivery_time">
                                                                        <option value="">Choose Time</option>
                                                                        <option value="09:00 - 12:00">09:00 - 12:00</option>
                                                                        <option value="12:00 - 15:00">12:00 - 15:00</option>
                                                                        <option value="15:00 - 18:00">15:00 - 18:00</option>
                                                                        <option value="18:00 - 21:00">18:00 - 21:00</option>
                                                                    </select>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="time-delivery" id="blk-5hours" style="display:none">
                                                <p>The bouquet will be delivered before: <span name="order_delivery_5hours">@ViewBag.time</span></p>
                                                <p>*Your bouquet will be deliveried to the next day if the delivery time is overtime</p>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="border-wrapp">
                                        <div class="customer-address">
                                            <p class="title" style="margin-bottom: 10px;">
                                                Message for the recipient
                                            </p>
                                            <div class="row">
                                                <div class="col-lg-4">
                                                    <div class="form-group">
                                                        <select name="object" class="form-control selectpicker">
                                                            <option value="" selected>Person</option>
                                                            <option value="1">Father / Mother</option>
                                                            <option value="2">Wife / Husband</option>
                                                            <option value="3">Family</option>
                                                            <option value="4">Love</option>
                                                            <option value="5">Colleague / Friend</option>
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="col-lg-4">
                                                    <div class="form-group">
                                                        <select name="occasion" class="form-control selectpicker">
                                                            <option value="" selected>Occasion</option>
                                                            @foreach (var o in @ViewBag.occ)
                                                            {
                                                                <option id="@o.Id" value="@o.Name">@o.Name</option>
                                                            }
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <select name="message" class="form-control selectpicker">

                                                </select>
                                            </div>
                                            <div class="form-group">
                                                <label>Message on the card</label>
                                                <textarea onkeyup="textAreaAdjust(this)" class="form-control" name="messagetype" type="text" placeholder="Message" style="overflow:hidden"></textarea>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="kt-checkbox kt-checkbox--success">
                                            <input type="checkbox" name="vat_check" value="1" onclick="check_vat('vat')">Billing infomation<span></span>
                                        </label>
                                    </div>
                                    <div class="bill-invoice" id="vat" style="display:none">

                                        <div class="form-group">
                                            <input class="form-control" name="vat_company" type="text" placeholder="Company name">
                                        </div>
                                        <div class="form-group">
                                            <input class="form-control" name="vat_address" type="text" placeholder="Company address">
                                        </div>
                                        <div class="form-group">
                                            <input class="form-control" name="vat_number" type="text" placeholder="Tax Code">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="kt-checkbox kt-checkbox--success">
                                            <input type="checkbox" value="1" name="call_me" onclick="check_vat('vat')">I want telesale recall to confirm order<span></span>
                                        </label>
                                    </div>
                                    <input class="btn btn-warning" type="submit" value="Pay" id="pay" />
                                    <div class="border-wrapp">
                                        <div class="payment">
                                            <p class="title">Payment</p>
                                            <div class="payment-list">
                                                <div class="item-payment">
                                                    <label class="kt-radio kt-radio--success">
                                                        <input type="radio" name="payment" value="cod" checked>
                                                        <span>
                                                            <img height="40" src="~/images/cod.svg">
                                                            <span>Payment on delivery</span>
                                                        </span>
                                                    </label>
                                                </div>
                                                <div class="item-payment">
                                                    <label class="kt-radio kt-radio--success">
                                                        <input type="radio" name="payment" value="onepay_visa"><span>
                                                            <img height="40"
                                                                 src="~/images/visa.svg"><span>Visa / Mastercard</span>
                                                        </span>
                                                    </label>
                                                </div>
                                                <div class="item-payment">
                                                    <label class="kt-radio kt-radio--success">
                                                        <input type="radio" name="payment" value="onepay_atm"><span>
                                                            <img height="40"
                                                                 src="~/images/atm.svg"><span>ATM Card</span>
                                                        </span>
                                                    </label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="border-wrapp hidden-xs">
                                        <p>
                                            <i class="fa fa-info-circle" aria-hidden="true"></i>
                                            By ordering, you have agreed to <a href="" title="term">term and condition</a> of Dalathasfarm.
                                        </p>

                                        <div class="btn-box" style="width:400px; margin:20px auto 10px">
                                            <button type="submit" name="cod" value="1" class="btn btn-buy btn-confirm"> Payment <span>On Delivery</span> </button>
                                            <button type="submit" name="paymentvisa" value="1" title="Payment Online" class="btn btn-buy btn-confirm hidden">Payment ONLINE <span>(Visa / Mastercard)</span></button>
                                            <button type="submit" name="paymentatm" value="1" title="Payment Online" class="btn btn-buy btn-confirm hidden">Payment ONLINE <span>(ATM)</span></button>
                                        </div>
                                    </div>
                                </div>
                                @await Component.InvokeAsync("BouquetList")
                            </div>
                        @*</form>*@
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>