
@{
    ViewData["Title"] = "Checkout";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-md-12">
        <div class="document-box">
            @*<form name="checkoutform" id="checkoutform" action="shop.dalathasfarm.com/shopcart/order.html" method="POST">*@
            <div class="row" id="main-content">
                <div class="col-lg-8 col-xs-12">
                    <div class="sender-receiver-box">

                        @await Component.InvokeAsync("Sender")

                        <div class="border-wrapp">
                            <div class="customer-address">
                                <p class="title">Receive</p>
                                <div class="kt-radio-list">
                                    <label class="kt-radio kt-radio--success">
                                        <input type="radio" name="receiver_type" value="store" checked> <i class="fa fa-home" aria-hidden="true"></i> Receive at the store<span></span>
                                    </label>
                                    <label class="kt-radio kt-radio--success">
                                        <input type="radio" name="receiver_type" value="receiver"> <i class="fa fa-shopping-bag" aria-hidden="true"></i> Delivery to<span></span>
                                    </label>
                                </div>

                                <div class="receiver-delivery" id="blk-receiver" style="display:none">
                                    <div class="row">
                                        <div class="col-lg-12 col-xs-12">
                                            <div class="kt-radio-list">
                                                <label class="kt-radio kt-radio--success">
                                                    <input type="radio" value="Mr. " name="gender" checked>Mr.<span></span>
                                                </label>
                                                <label class="kt-radio kt-radio--success">
                                                    <input type="radio" value="Ms. " name="gender">Ms.<span></span>
                                                </label>
                                            </div>

                                            <form id="get-receiver-info">
                                                <div class="form-group">
                                                    <label>Name</label>
                                                    <input class="form-control" type="text" name="receiver_name" id="receiver_name" placeholder="Receiver Name">
                                                </div>
                                                <div class="form-group">
                                                    <label>Phone Number</label>
                                                    <input class="form-control" type="text" name="receiver_phone" id="receiver_phone" placeholder="Receiver Phone Number">
                                                </div>
                                                <div class="form-group">
                                                    <label>Email</label>
                                                    <input class="form-control" type="email" name="receiver_email" id="receiver_email" placeholder="Receiver Email">
                                                </div>
                                                <div class="form-group">
                                                    <label>Address</label>
                                                    <input class="form-control" type="text" name="receiver_address" id="receiver_address" placeholder="Receiver Address">
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>

                                <div class="receiver-delivery" id="blk-store">
                                    <div class="row">
                                        <div class="col-lg-12 col-xs-12">
                                            <div class="form-group">
                                                @*<p>Địa chỉ: <b>99 Đường Hậu Giang, Ward 5, District 6, Hồ Chí Minh</b></p>*@
                                                <p>Open hour: <b>9:00 - 21:00 Saturday and Sunday, holiday</b></p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="clearfix">
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="border-wrapp">
                        <div class="customer-address">
                            <p class="title">Time of delivery</p>
                            <div class="kt-radio-list">
                                <label class="kt-radio kt-radio--success">
                                    <input type="radio" name="time_type" value="ctime" checked> <i class="fa fa-clock-o" aria-hidden="true"></i> Choose time receiver<span></span>
                                </label>
                                <label class="kt-radio kt-radio--success">
                                    <input type="radio" name="time_type" value="5hours"> <i class="fa fa-clock-o" aria-hidden="true"></i> Delivery in 5 hours<span></span>
                                </label>
                            </div>

                            <div class="time-delivery" id="blk-ctime">
                                <div class="row">
                                    <div class="col-lg-6">
                                        <div class="row">
                                            <div class="col-lg-6">
                                                <div class="form-group">
                                                    <input class="form-control" id="kt_datepicker_1" name="order_delivery_date" type="text" placeholder="Day">
                                                </div>
                                            </div>
                                            <div class="col-lg-6">
                                                <div class="form-group">
                                                    <select class="form-control " name="order_delivery_time">
                                                        <option value="">Choose Time</option>
                                                        <option value="09:00 - 12:00">09:00 - 12:00</option>
                                                        <option value="12:00 - 15:00">12:00 - 15:00</option>
                                                        <option value="15:00 - 18:00">15:00 - 18:00</option>
                                                        <option value="18:00 - 21:00">18:00 - 21:00</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="time-delivery" id="blk-5hours" style="display:none">
                                <p>The bouquet will be delivered before: <span name="order_delivery_5hours">@ViewBag.time</span></p>
                                <p>*Your bouquet will be deliveried to the next day if the delivery time is overtime</p>
                            </div>
                        </div>
                    </div>

                    <div class="border-wrapp">
                        <div class="customer-address">
                            <p class="title" style="margin-bottom: 10px;">
                                Message for the recipient
                            </p>
                            <div class="row">
                                <div class="col-lg-4">
                                    <div class="form-group">
                                        <select name="object" class="form-control ">
                                            <option value="" selected>Person</option>
                                            <option value="1">Father / Mother</option>
                                            <option value="2">Wife / Husband</option>
                                            <option value="3">Family</option>
                                            <option value="4">Love</option>
                                            <option value="5">Colleague / Friend</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-lg-4">
                                    <div class="form-group">
                                        <select name="occasion" class="form-control ">
                                            <option value="" selected>Occasion</option>
                                            @foreach (var o in @ViewBag.occ)
                                            {
                                                <option id="@o.Id" value="@o.Name">@o.Name</option>
                                            }
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <select name="message" class="form-control">

                                </select>
                            </div>
                            <form id="get-message-order">
                                <div class="form-group">
                                    <label>Message on the card</label>
                                    <textarea onkeyup="textAreaAdjust(this)" class="form-control" name="messagetype" type="text" placeholder="Message" style="overflow:hidden"></textarea>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="border-wrapp">
                        <div class="customer-address">
                            <p class="title">Payment</p>
                            <div class="payment-list">
                                <div class="kt-radio-list">
                                    <label class="kt-radio kt-radio--success">
                                        <input type="radio" name="payment_type" value="cash" checked> <i class="fa fa-money" aria-hidden="true"></i> Cash<span></span>
                                    </label>
                                    <label class="kt-radio kt-radio--success">
                                        <input type="radio" name="payment_type" value="paypal"> <i class="fa fa-cc-paypal" aria-hidden="true"></i> Paypal<span></span>
                                    </label>

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="border-wrapp hidden-xs">
                        <p>
                            <i class="fa fa-info-circle" aria-hidden="true"></i>
                            By ordering, you have agreed to <a href="" title="term">term and condition</a> of Javaflorist.
                        </p>
                        <div class="btn-box">
                            <input class="btn btn-warning" type="submit" value="Checkout" id="pay" />
                        </div>
                    </div>
                </div>
                @await Component.InvokeAsync("BouquetList")
            </div>
            @*</form>*@
        </div>
    </div>
</div>
