
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model JavaFlorist.Models.Item

<div class="content">
    <div class="content-box">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a asp-controller="home" asp-action="index">Home</a></li>
                        <li class="breadcrumb-item active">Cart</li>
                    </ol>
                    @if (@ViewBag.cart != null)
                    {
                        <div class="document-box">
                            <div class="no-gutters checkout-box">
                                <div class="cart-box" id="cart-page">
                                    <div class="row">
                                        <div class="col-lg-9">
                                            <div class="cart-list">
                                                <div class="header-list">
                                                    <div class="header-item">Product</div>
                                                    <div class="header-item">Price</div>
                                                    <div class="header-item">Quantity</div>
                                                    <div class="header-item">Total</div>
                                                </div>

                                                @foreach (var i in @ViewBag.cart)
                                                {
                                                    <div class="body-list" style="border:3px">
                                                        <div class="body-item product-info">
                                                            <div class="cart-product">
                                                                <div class="p-image">
                                                                    <img src="~/images/bouquets/@i.Bouquet.Photo" alt="@i.Bouquet.Name" />
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="body-item price" data-price="@i.Bouquet.Price">
                                                            <span>$@i.Bouquet.Price</span>
                                                        </div>
                                                        <div class="body-item quantity">
                                                            <input data-id="14" onChange="update_qty_product(this)" data-unit="packing_item" type="text" value="@i.Quantity" name="quantity" class="quantity-input">
                                                            <input name="item_qty_current" value="1" type="hidden">
                                                        </div>
                                                        <div class="body-item total">
                                                            <span>@(i.Quantity*i.Bouquet.Price)</span>
                                                            <a class="btn" asp-controller="cart" asp-action="remove" asp-route-id="@i.Bouquet.Id" style="float:right"><img width="20" src="~/images/close.png"></a>
                                                        </div>
                                                    </div>
                                                    <div class="seperate-line" style="height: 1px;"></div>
                                                }
                                            </div>
                                        </div>
                                        <div class="col-lg-3">
                                            <div class="border-wrapp padding-0">
                                                <div class="order-cart-header">
                                                    <p>My Cart</p>
                                                    <p class="total-item">1 Product</p>
                                                </div>
                                                <div class="order-cart-content">
                                                    <div class="order-cart-content-item">
                                                        <p>Provisional Sum</p>
                                                        <p name="provisionalsum"></p>
                                                    </div>
                                                    <div class="order-cart-content-item">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="btn-box">
                                                <a class="btn btn-buy btn-confirm" asp-controller="cart" asp-action="checkout" title="CONFIRM CART">Continue</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>

