
@{
    ViewData["Title"] = "Success";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Transaction Details</h1>
<div>
    
    @ViewBag.result.GrossTotal 
    @ViewBag.result.InvoiceNumber
    @ViewBag.result.PaymentStatus
    @ViewBag.result.PayerFirstName
    @ViewBag.result.PaymentFee
    @ViewBag.result.BusinessEmail
    @ViewBag.result.PayerEmail
    @ViewBag.result.TxToken
    @ViewBag.result.PayerLastName
    @ViewBag.result.ReceiverEmail
    @ViewBag.result.ItemName
    @ViewBag.result.Currency
    @ViewBag.result.TransactionId
    @ViewBag.result.SubscriberId
    @ViewBag.result.Custom
</div>

